<%= form_for @linhkien, :html => { :class => "form-horizontal linhkien" } do |f| %>

  <% if @linhkien.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@linhkien.errors.count, "error") %> prohibited this linhkien from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @linhkien.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :ten, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :ten, :class => 'form-control' %>
    </div>
    <%=f.error_span(:ten) %>
  </div>
  <div class="form-group">
    <%= f.label :loai, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :loai, :class => 'form-control' %>
    </div>
    <%=f.error_span(:loai) %>
  </div>
  <div class="form-group">
    <%= f.label :ngaynhap, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :ngaynhap,:value =>Time.now.strftime("%d-%m-%y"),'data-behaviour' => 'datepicker' %>
    </div>
    <%=f.error_span(:ngaynhap) %>
  </div>
  <div class="form-group">
    <%= f.label :price, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :price, :class => 'form-control' %>
    </div>
    <%=f.error_span(:price) %>
  </div>
  <div class="form-group">
    <%= f.label :tondau, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :tondau, :class => 'form-control' %>
    </div>
    <%=f.error_span(:tondau) %>
  </div>
  <div class="form-group">
    <%= f.label :nhap, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :nhap, :class => 'form-control' %>
    </div>
    <%=f.error_span(:nhap) %>
  </div>
  <div class="form-group">
    <%= f.label :xuat, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :xuat, :class => 'form-control' %>
    </div>
    <%=f.error_span(:xuat) %>
  </div>
  <div class="form-group">
    <%= f.label :toncuoi, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :toncuoi, :class => 'form-control' %>
    </div>
    <%=f.error_span(:toncuoi) %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                linhkiens_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>

<script type="text/javascript">
  $('[data-behaviour~=datepicker]').datepicker();
</script>